<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/index.css">
  <link rel="stylesheet" type="text/css" href="/new_collection.css">
  <title>Inventory</title>
</head>
<body>
  <form action = '/fw2015/collection_id/season' method = "get">
    <label class = "dropdown"> <p>Choose a collection:</p>
      <select name = "collection_id">
        <%for collection in @collections%> 
        <option value=<%=collection.id%>><%=collection.name%></option>
        <%end%> 
      </select>
    </label>
    <p><input type = "submit" value = "GO"></p>
  </form>
  <form class = "form" action = '/fw2015' method = "post">
    <label>
      <div>
        <p>Create a new collection</p>
        <p><input id = "input_bar" type = "text" name = "name">Name</input></p>
        <p><input type = "submit" value = "CREATE"><p>
      </div>
    </label>
  </form>
 <form action = '/fw2015/id/delete' method = "post">
     <label class = "dropdown"> <p>Delete a collection:</p>
       <select name = "id">
         <%for collection in @collections%> 
         <option value=<%=collection.id%>><%=collection.name%></option>
         <%end%> 
       </select>
     </label>
     <p><input type = "submit" value = "DELETE"></p>
   </form>
</body>

</html>

















<!-- <!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="index.css">
  <title>Fall Winter 2015</title>
</head>
<body>
  <div class = "list"> 
    <h1> All products </h1>
    <%for product in @products%>
    <div class = "container">
      <p> Name: <%= product.name() %></p>
      <p> Price: £<%= product.price() %></p>
      <p> Stock Level: <%= product.stock_level %></p>
    </div>
    <div class = "image">
      <img src ="<%=product.url()%>" alt = "Image"/>
    </div>
    <div class = "button">
     <p><a href= "/fw2015/<%=product.id%>">SHOW DETAILS</a></p>
   </div>
   <%end%>
 </div>
</div>
</body>
</html> -->