<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/index.css">
  <title>Inventory</title>
</head>
<body>
<form action = '/fw2015/collection_id/season' method = "get">
  <label class = "dropdown"> <p>Choose a collection:</p>
    <select name = "collection_id">
      <%for collection in @collections%> 
      <option value=<%=collection.id%>><%=collection.name%></option>
      <%end%> 
    </select>
    </label>
    <p><input type = "submit" value = "GO"></p>
</form>
</body>
</html>

















<!-- <!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="index.css">
  <title>Fall Winter 2015</title>
</head>
<body>
  <div class = "list"> 
    <h1> All products </h1>
    <%for product in @products%>
    <div class = "container">
      <p> Name: <%= product.name() %></p>
      <p> Price: £<%= product.price() %></p>
      <p> Stock Level: <%= product.stock_level %></p>
    </div>
    <div class = "image">
      <img src ="<%=product.url()%>" alt = "Image"/>
    </div>
    <div class = "button">
     <p><a href= "/fw2015/<%=product.id%>">SHOW DETAILS</a></p>
   </div>
   <%end%>
 </div>
</div>
</body>
</html> -->