<!DOCTYPE html>
<html>
<head>
  <title>Season <%=@collection.name%></title>
  <link rel="stylesheet" type="text/css" href="/season.css">
</head>
<body>
 <h1><%=@collection.name%></h1>
 <%for product in @collection.show_products%>
 <div class = "box">
   <p> Name: <%=product.name%></p>
   <p> Price: £<%=product.price%></p>
   <p> Stock: <%=product.stock_level%>(<%=product.stock%>)</p>
   <img class = "img" src ="<%=product.url%>" alt = "Image"/>
   <div class = "button">
    <p><a href= "/store/<%=product.id%>/season">SHOW DETAILS</a></p>
  </div>
</div>
<div class = "sell">
  <p>
    <form class = "middle" action = "/store/<%=product.id%>/sell" method = "post">
      <p>Enter the amount<p>
        <p><input type = "number" name = "quantity" value = "AMOUNT?"><p>
          <p><input id = "button" type = "submit" value = "SELL">
          </p>
        </form>
      </p>
    </div>
    <%end%>
  </body>
  </html>