<!DOCTYPE html>
<html>
<head>
  <title>Details</title>
  <link rel="stylesheet" type="text/css" href="/show.css">
</head>
<body>
<div class = "bigbox">
 <div class = "container">
   <p> Name: <%=@product.name%></p>
   <p> Price: £<%=@product.price%></p>
   <p> Type: <%=@product.type%></p>
   <p> Stock Level: <%=@product.stock_level%>(<%=@product.stock%>)</p>
   <p> Season: <%=@product.show_collection_name%>
 </div>
   <img class = "image" src = "<%=@product.url%>" alt = "Image"/>
<div class = "buttons">
 <div class = "button">
   <p>
     <form action = "/store/<%=@product.id%>/delete" method = "post">
       <input type = "submit" value = "Delete"/>
     </form>
   </p>
 </div>
 <div class = "button">
   <p>
     <form action = "/store/<%=@product.id%>/edit" method = "get">
       <input type = "submit" value = "Edit"/>
     </form>
   </p>
   </div>
  </div>
 </div>
</body>
</html>